* {
  transition: all 0.4s ease-in-out;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  background-color: #fff;
}

h1, h2, h3, h4, p, span {
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: sans-serif;
}

nav {
  box-shadow: none;
}

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
}

button {
  outline: none;
}

.pages {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #EBEAF3;
}

.equal {
  width: 50%;
}

.cent {
  width: 100%;
}

.pageContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
}

#formStyle {
  position: relative;
  display: flex;
  background-color: #EBEAF3;
  width: 30vw;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}
#formStyle #errorHandler {
  position: absolute;
  display: flex;
  width: 50%;
  top: 10%;
  flex-direction: row;
  align-items: center;
  transform: translateY(-150px);
  opacity: 0;
}
#formStyle #errorHandler .errorIcon {
  font-size: 1.4em;
  color: #0092ff;
  margin-right: 5%;
}
#formStyle #errorHandler .errorText {
  font-size: 0.9em;
  font-style: italic;
  font-weight: 600;
  color: #205082;
}
#formStyle .logTitle {
  margin-top: 50%;
}
#formStyle .regTitle {
  margin-top: 10%;
}
#formStyle #title {
  display: flex;
  width: 50%;
  justify-content: center;
  padding-bottom: 5%;
  border-bottom: 1px solid #dcdaea;
}
#formStyle #title #imageTitle {
  display: block;
  width: 30%;
}
#formStyle #title #imageTitle img {
  display: block;
  width: 100%;
}
#formStyle #title #textTitle {
  display: flex;
  align-items: center;
  margin-left: 2%;
}
#formStyle #title #textTitle p {
  color: #c1c6eb;
  line-height: 1.1em;
  font-size: 1.6em;
  font-weight: 800;
}
#formStyle #title #textTitle p b {
  color: #EBEAF3;
  text-transform: uppercase;
  text-shadow: 1px 0 0 #c1c6eb, -1px 0 0 #c1c6eb, 0 1px 0 #c1c6eb, 0 -1px 0 #c1c6eb, 0.5px 0.5px #c1c6eb, -0.5px -0.5px 0 #c1c6eb, 0.5px -0.5px 0 #c1c6eb, -0.5px 0.5px 0 #c1c6eb;
}
#formStyle form {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#formStyle form label {
  display: flex;
  flex-direction: row;
  margin: 5% 0 2% 0;
  font-size: 0.8em;
  color: #2e2d35;
}
#formStyle form label:first-child {
  margin-top: 10%;
}
#formStyle form .labelFile {
  display: inline;
  background-color: #fff;
  padding: 10px 5px 10px 10px;
  border: 1px solid transparent;
  border-radius: 60px;
  margin: 0 0 7% 0;
  color: gray;
  cursor: pointer;
  outline: none;
}
#formStyle form .labelFile:hover {
  background-color: #e6e6e6;
  border: 1px solid #205082;
}
#formStyle form input {
  padding: 10px 5px 10px 10px;
  border-radius: 60px;
  border: 1px solid transparent;
  outline: none;
}
#formStyle form input:focus {
  border: 1px solid #205082;
}
#formStyle form input:hover {
  border: 1px solid #b4d0ed;
}
#formStyle form .logPass {
  margin-bottom: 7%;
}
#formStyle form input[type=file] {
  display: none;
}
#formStyle form button {
  padding: 10px 0;
  border: none;
  border-radius: 60px;
  background-color: #205082;
  color: #fff;
  cursor: pointer;
  outline: none;
}
#formStyle form button:hover {
  background-color: #2a69ab;
}
#formStyle #downLinkForm {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  align-items: center;
  margin-top: 7%;
  width: 50%;
}
#formStyle #downLinkForm a {
  color: #c1c6eb;
}
#formStyle #downLinkForm a:hover {
  color: #205082;
}
#formStyle .loginDownLink {
  justify-content: space-evenly;
}
#formStyle .registerDownLink {
  justify-content: center;
}

#show {
  position: relative;
  width: 70vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: none;
}
#show #showCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  background-color: rgba(32, 80, 130, 0.45);
}
#show #showCover button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5%;
  right: 5%;
  font-size: 2em;
  font-weight: 600;
  color: #fff;
  background-color: #205082;
  border: none;
  padding: 20px;
  border-radius: 60px;
  cursor: pointer;
}
#show #showCover button:hover {
  background-color: #2a69ab;
}

/*# sourceMappingURL=App.css.map */
