@charset "UTF-8";
* {
  transition: all 0.4s ease-in-out;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  background-color: #fff;
}

h1, h2, h3, h4, p, span {
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: sans-serif;
}

nav {
  box-shadow: none;
}

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
}

button {
  outline: none;
}

.pages {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #EBEAF3;
}

.equal {
  width: 50%;
}

.cent {
  width: 100%;
}

.pageContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
}

.invisible {
  display: none;
}

.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 60px;
}

.react-tagsinput--focused {
  border-color: #0092ff;
}

.react-tagsinput-tag {
  background-color: #0092ff;
  border-radius: 2px;
  border: none;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
}
.react-tagsinput-tag:hover {
  background-color: #33a8ff;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: auto;
}

#formStyle {
  position: relative;
  display: flex;
  background-color: #EBEAF3;
  width: 30vw;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}
#formStyle #errorHandler {
  position: absolute;
  display: flex;
  width: 50%;
  top: 10%;
  flex-direction: row;
  align-items: center;
  transform: translateY(-150px);
  opacity: 0;
}
#formStyle #errorHandler .errorIcon {
  font-size: 1.4em;
  color: #0092ff;
  margin-right: 5%;
}
#formStyle #errorHandler .errorText {
  font-size: 0.9em;
  font-style: italic;
  font-weight: 600;
  color: #205082;
}
#formStyle .logTitle {
  margin-top: 50%;
}
#formStyle .regTitle {
  margin-top: 33%;
}
#formStyle #title {
  display: flex;
  width: 50%;
  justify-content: center;
  padding-bottom: 5%;
  border-bottom: 1px solid #dcdaea;
}
#formStyle #title #imageTitle {
  display: block;
  width: 30%;
}
#formStyle #title #imageTitle img {
  display: block;
  width: 100%;
}
#formStyle #title #textTitle {
  display: flex;
  align-items: center;
  margin-left: 2%;
}
#formStyle #title #textTitle p {
  color: #050505;
  line-height: 1.1em;
  font-size: 1.6em;
  font-weight: 800;
}
#formStyle #title #textTitle p b {
  color: #EBEAF3;
  text-transform: uppercase;
  text-shadow: 1px 0 0 #050505, -1px 0 0 #050505, 0 1px 0 #050505, 0 -1px 0 #050505, 0.5px 0.5px #050505, -0.5px -0.5px 0 #050505, 0.5px -0.5px 0 #050505, -0.5px 0.5px 0 #050505;
}
#formStyle form {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#formStyle form label {
  display: flex;
  flex-direction: row;
  margin: 5% 0 2% 0;
  font-size: 0.8em;
  color: #2e2d35;
}
#formStyle form label:first-child {
  margin-top: 10%;
}
#formStyle form .labelFile {
  display: inline;
  background-color: #fff;
  padding: 10px 5px 10px 10px;
  border: 1px solid transparent;
  border-radius: 60px;
  margin: 0 0 7% 0;
  color: gray;
  cursor: pointer;
  outline: none;
}
#formStyle form .labelFile:hover {
  background-color: #e6e6e6;
  border: 1px solid #205082;
}
#formStyle form input {
  padding: 10px 5px 10px 10px;
  border-radius: 60px;
  border: 1px solid transparent;
  outline: none;
}
#formStyle form input:focus {
  border: 1px solid #205082;
}
#formStyle form input:hover {
  border: 1px solid #b4d0ed;
}
#formStyle form .logPass {
  margin-bottom: 7%;
}
#formStyle form input[type=file] {
  display: none;
}
#formStyle form button {
  padding: 10px 0;
  border: none;
  border-radius: 60px;
  background-color: #205082;
  color: #fff;
  cursor: pointer;
  outline: none;
}
#formStyle form button:hover {
  background-color: #2a69ab;
}
#formStyle #downLinkForm {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  align-items: center;
  margin-top: 7%;
  width: 50%;
}
#formStyle #downLinkForm a {
  color: #050505;
}
#formStyle #downLinkForm a:hover {
  color: #205082;
}
#formStyle #sideCrop {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
  height: 100%;
  z-index: 40;
  left: 100vw;
  background-color: rgba(235, 234, 243, 0.55);
}
#formStyle #sideCrop h3 {
  margin-bottom: 4%;
  width: 40%;
  text-align: center;
  color: #2e2d35;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  padding: 4%;
  border-bottom: 1px solid rgba(235, 234, 243, 0.3);
}
#formStyle #sideCrop #cropContainer {
  display: block;
  width: 80%;
  height: 43%;
}
#formStyle #sideCrop button {
  background-color: #205082;
  padding: 12px 0;
  width: 50%;
  border: none;
  border-radius: 60px;
  color: #fff;
  cursor: pointer;
}
#formStyle #sideCrop button:hover {
  background-color: #2a69ab;
}
#formStyle .loginDownLink {
  justify-content: space-evenly;
}
#formStyle .registerDownLink {
  justify-content: center;
}

#show {
  position: relative;
  width: 70vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: none;
}
#show #showCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  background-color: rgba(32, 80, 130, 0.45);
}
#show #showCover button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5%;
  right: 5%;
  font-size: 2em;
  font-weight: 600;
  color: #fff;
  background-color: #205082;
  border: none;
  padding: 20px;
  border-radius: 60px;
  cursor: pointer;
}
#show #showCover button:hover {
  background-color: #2a69ab;
}

#dashboardContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#dashMenu {
  display: flex;
  position: relative;
  width: 100vw;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 10px rgba(46, 45, 53, 0.5);
  z-index: 20;
  background-color: #fff;
}
#dashMenu #dashLogo {
  display: block;
  width: 2%;
  margin-left: 2%;
}
#dashMenu #dashLogo img {
  display: block;
  width: 100%;
  margin: auto;
}
#dashMenu #dashLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
  height: 100%;
  margin-right: 2%;
}
#dashMenu #dashLink #menuLink {
  display: flex;
  flex-direction: row;
  width: 10%;
  margin: 0;
  padding: 0;
  height: 100%;
  margin-right: 3%;
}
#dashMenu #dashLink #menuLink li {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  font-size: 1.5em;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  border-right: 1px solid #dcdaea;
}
#dashMenu #dashLink #menuLink li:last-child {
  border-right: none;
}
#dashMenu #dashLink #menuLink li:hover {
  border-bottom: 2px solid #0092ff;
}
#dashMenu #dashLink #menuLink li:hover a {
  color: #205082;
}
#dashMenu #dashLink #menuLink li a {
  color: #2e2d35;
}
#dashMenu #dashLink #userLink {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 2%;
}
#dashMenu #dashLink #userLink p {
  color: #2e2d35;
  font-size: 0.8em;
  margin-right: 2%;
}
#dashMenu #dashLink #userLink #avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 60px;
  width: 45px;
  border: 2px solid #0092ff;
  margin-left: 5%;
}
#dashMenu #dashLink #userLink #avatarContainer img {
  display: block;
  width: 100%;
}
#dashMenu #dashLink button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 60px;
  background-color: #205082;
  color: #fff;
  cursor: pointer;
}
#dashMenu #dashLink button:hover {
  background-color: #2a69ab;
}

#dashBanner {
  display: block;
  width: 100vw;
  overflow: hidden;
  z-index: 10;
  position: relative;
}
#dashBanner:hover #labelBanner {
  opacity: 1;
}
#dashBanner #labelBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #050505;
  opacity: 0;
  background-color: rgba(46, 45, 53, 0.5);
  cursor: pointer;
  z-index: 12;
}
#dashBanner input {
  display: none;
}
#dashBanner .cover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(32, 80, 130, 0.5);
  z-index: 10;
}
#dashBanner img {
  width: 100%;
  display: block;
  z-index: 5;
}

#dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #EBEAF3;
}

#dashContent {
  display: flex;
  width: 100vw;
  height: 80%;
  flex-direction: row;
  flex-wrap: nowrap;
}
#dashContent #dashProjectCount {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 20vw;
  border-right: 1px solid #EBEAF3;
  margin: 0;
  padding: 0;
}
#dashContent #dashProjectCount #projectCountContainer {
  display: flex;
  width: 95%;
  height: 46.5%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0 rgba(46, 45, 53, 0.3);
}
#dashContent #dashProjectCount #projectCountContainer #projectCountCircle {
  position: relative;
  display: flex;
  width: 35%;
  background-color: transparent;
  border: 3px solid #205082;
  border-radius: 150px;
  overflow: hidden;
  box-shadow: 0px 0px 20px 10px #EBEAF3;
}
#dashContent #dashProjectCount #projectCountContainer #projectCountCircle img {
  display: block;
  width: 100%;
  z-index: 1;
}
#dashContent #dashProjectCount #projectCountContainer #projectCountCircle #countContainer {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-color: rgba(46, 45, 53, 0.3);
}
#dashContent #dashProjectCount #projectCountContainer #projectCountCircle #countContainer p {
  color: #fff;
  font-size: 3.5em;
}
#dashContent #dashProjectCount #projectCountContainer #countUser {
  display: inline-block;
  width: 40%;
  margin-top: 4%;
  border-top: 1px solid #EBEAF3;
  padding-top: 2%;
}
#dashContent #dashProjectCount #projectCountContainer #countUser #countUsername {
  color: #050505;
  text-align: center;
  font-size: 1.4em;
  font-weight: 600;
}
#dashContent #dashProjectCount #projectCountContainer #countUser #countSentence {
  color: #c7c6ce;
  text-align: center;
  font-weight: 200;
}
#dashContent #dashProjectCount #projectCountContainer button {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 60px;
  border: none;
  background-color: #205082;
  color: #fff;
  cursor: pointer;
  font-size: 0.9em;
}
#dashContent #dashProjectCount #projectCountContainer button:hover {
  background-color: #2a69ab;
}
#dashContent #dashProjectCount #projectCountCat {
  display: flex;
  width: 95%;
  height: 47.5%;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0 rgba(46, 45, 53, 0.3);
}
#dashContent #dashAnalytics {
  width: 80vw;
}
#dashContent #dashAnalytics .equal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  border-bottom: 1px solid #EBEAF3;
}
#dashContent #dashAnalytics #containerChart {
  display: flex;
  width: 98%;
  height: 93%;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0 rgba(46, 45, 53, 0.3);
}
#dashContent #dashAnalytics #containerChart h3 {
  width: 20%;
  margin-left: 3%;
  margin-top: 12px;
  font-size: 1.2em;
  color: #050505;
  font-weight: 400;
  border-bottom: 1px solid #EBEAF3;
  padding-bottom: 5px;
}

#settingsContainer {
  display: flex;
  flex-direction: column;
  background-color: #EBEAF3;
  width: 100vw;
  height: 100vh;
}
#settingsContainer #componentContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 80%;
}
#settingsContainer #avatarUploadDash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 25vw;
  height: 100%;
}
#settingsContainer #avatarUploadDash #currAvatarContainer {
  width: 95%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0 rgba(46, 45, 53, 0.3);
}
#settingsContainer #avatarUploadDash #currAvatarContainer #currAvatar {
  overflow: hidden;
  width: 27%;
  border-radius: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #0092ff;
}
#settingsContainer #avatarUploadDash #currAvatarContainer #currAvatar img {
  display: block;
  width: 100%;
}
#settingsContainer #avatarUploadDash #currAvatarContainer label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #205082;
  border-radius: 60px;
  border: none;
  margin-top: 5%;
  cursor: pointer;
}
#settingsContainer #avatarUploadDash #currAvatarContainer label:hover {
  background-color: #2a69ab;
}
#settingsContainer #avatarUploadDash #currAvatarContainer #avatarUp {
  display: none;
}
#settingsContainer #avatarUploadDash #upAvatarContainer {
  width: 95%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0 rgba(46, 45, 53, 0.3);
}
#settingsContainer #avatarUploadDash #upAvatarContainer #avatarCropDash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}
#settingsContainer #avatarUploadDash #upAvatarContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 60px;
  font-size: 1em;
  cursor: pointer;
  background-color: #205082;
  color: #fff;
  margin-top: 5%;
}
#settingsContainer #changeSettingContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 75vw;
  height: 100%;
}
#settingsContainer #changeSettingContainer #changeContainer {
  width: 99%;
  height: 62%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0 rgba(46, 45, 53, 0.3);
}
#settingsContainer #changeSettingContainer #changeContainer #passwordFormContainer {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 93%;
  margin-left: 3%;
}
#settingsContainer #changeSettingContainer #changeContainer #passwordFormContainer form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#settingsContainer #changeSettingContainer #changeContainer #passwordFormContainer form h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 3%;
  margin-top: 3%;
}
#settingsContainer #changeSettingContainer #changeContainer #passwordFormContainer form label {
  display: flex;
  flex-direction: row;
  margin: 5% 0 2% 0;
  font-size: 0.8em;
  color: #2e2d35;
}
#settingsContainer #changeSettingContainer #changeContainer #passwordFormContainer form label:first-child {
  margin-top: 0%;
}
#settingsContainer #changeSettingContainer #changeContainer #passwordFormContainer form input {
  padding: 10px 5px 10px 10px;
  border-radius: 60px;
  border: 1px solid transparent;
  background-color: #EBEAF3;
  outline: none;
}
#settingsContainer #changeSettingContainer #changeContainer #passwordFormContainer form input:focus {
  border: 1px solid #205082;
}
#settingsContainer #changeSettingContainer #changeContainer #passwordFormContainer form input:hover {
  border: 1px solid #b4d0ed;
}
#settingsContainer #changeSettingContainer #changeContainer #passwordFormContainer form button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #205082;
  border: none;
  border-radius: 60px;
  color: #fff;
  margin-top: 10%;
  cursor: pointer;
}
#settingsContainer #changeSettingContainer #changeContainer #passwordFormContainer form button:hover {
  background-color: #2a69ab;
}
#settingsContainer #changeSettingContainer #changeContainer #passwordFormContainer #errorPass {
  position: absolute;
  width: 15%;
  height: auto;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  top: 3%;
  left: 42.5%;
  z-index: 100;
  box-shadow: 0px 0px 10px 0 rgba(46, 45, 53, 0.3);
  transform: translateY(-100px);
}
#settingsContainer #changeSettingContainer #changeContainer #passwordFormContainer #errorPass h4 {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #EBEAF3;
  font-weight: 400;
  color: #205082;
  display: flex;
  align-items: center;
}
#settingsContainer #changeSettingContainer #changeContainer #passwordFormContainer #errorPass p {
  color: #ff9999;
  font-weight: 600;
  margin-bottom: 2%;
}
#settingsContainer #changeSettingContainer #changeContainer #emailFormContainer {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 93%;
  margin-left: 10%;
}
#settingsContainer #changeSettingContainer #changeContainer #emailFormContainer form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#settingsContainer #changeSettingContainer #changeContainer #emailFormContainer form h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 3%;
  margin-top: 3%;
}
#settingsContainer #changeSettingContainer #changeContainer #emailFormContainer form label {
  display: flex;
  flex-direction: row;
  margin: 5% 0 2% 0;
  font-size: 0.8em;
  color: #2e2d35;
}
#settingsContainer #changeSettingContainer #changeContainer #emailFormContainer form label:first-child {
  margin-top: 0%;
}
#settingsContainer #changeSettingContainer #changeContainer #emailFormContainer form input {
  padding: 10px 5px 10px 10px;
  border-radius: 60px;
  border: 1px solid transparent;
  background-color: #EBEAF3;
  outline: none;
}
#settingsContainer #changeSettingContainer #changeContainer #emailFormContainer form input:focus {
  border: 1px solid #205082;
}
#settingsContainer #changeSettingContainer #changeContainer #emailFormContainer form input:hover {
  border: 1px solid #b4d0ed;
}
#settingsContainer #changeSettingContainer #changeContainer #emailFormContainer form button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #205082;
  border: none;
  border-radius: 60px;
  color: #fff;
  margin-top: 10%;
  cursor: pointer;
}
#settingsContainer #changeSettingContainer #changeContainer #emailFormContainer form button:hover {
  background-color: #2a69ab;
}
#settingsContainer #changeSettingContainer #changeContainer #emailFormContainer #errorMail {
  position: absolute;
  width: 15%;
  height: auto;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  top: 3%;
  left: 42.5%;
  z-index: 100;
  box-shadow: 0px 0px 10px 0 rgba(46, 45, 53, 0.3);
  transform: translateY(-100px);
}
#settingsContainer #changeSettingContainer #changeContainer #emailFormContainer #errorMail h4 {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #EBEAF3;
  font-weight: 400;
  color: #205082;
  display: flex;
  align-items: center;
}
#settingsContainer #changeSettingContainer #changeContainer #emailFormContainer #errorMail p {
  color: #ff9999;
  font-weight: 600;
  margin-bottom: 2%;
}
#settingsContainer #changeSettingContainer #deleteContainer {
  width: 99%;
  height: 32%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0 rgba(46, 45, 53, 0.3);
}
#settingsContainer #changeSettingContainer #deleteContainer #textDeleteContainer {
  width: 40%;
  height: 100%;
}
#settingsContainer #changeSettingContainer #deleteContainer #textDeleteContainer h4 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.2em;
  color: #050505;
  font-weight: 400;
  border-bottom: 1px solid #EBEAF3;
  padding-bottom: 2%;
}
#settingsContainer #changeSettingContainer #deleteContainer #textDeleteContainer p {
  text-align: justify;
  font-size: 1em;
}
#settingsContainer #changeSettingContainer #deleteContainer #deleteButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 55%;
  height: 100%;
}
#settingsContainer #changeSettingContainer #deleteContainer #deleteButtonContainer #deleteButton {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin-top: 12%;
}
#settingsContainer #changeSettingContainer #deleteContainer #deleteButtonContainer #deleteButton button {
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  border: none;
  cursor: pointer;
}
#settingsContainer #changeSettingContainer #deleteContainer #deleteButtonContainer #deleteButton button:disabled {
  background-color: #ff9999;
  cursor: not-allowed;
}
#settingsContainer #changeSettingContainer #deleteContainer #deleteButtonContainer #slideRound {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2%;
}
#settingsContainer #changeSettingContainer #deleteContainer #deleteButtonContainer #slideRound input[type=checkbox] {
  display: none;
}
#settingsContainer #changeSettingContainer #deleteContainer #deleteButtonContainer #slideRound input:checked + label span:before {
  left: 26px;
  transition: all 0.4s ease-in;
}
#settingsContainer #changeSettingContainer #deleteContainer #deleteButtonContainer #slideRound input:checked + label span {
  background-color: #0092ff;
}
#settingsContainer #changeSettingContainer #deleteContainer #deleteButtonContainer #slideRound label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
  text-align: right;
  font-size: 0.8em;
  font-style: italic;
  color: #2e2d35;
}
#settingsContainer #changeSettingContainer #deleteContainer #deleteButtonContainer #slideRound label::before {
  content: "";
  display: block;
  position: absolute;
}
#settingsContainer #changeSettingContainer #deleteContainer #deleteButtonContainer #slideRound label::after {
  content: "";
  display: block;
  position: absolute;
}
#settingsContainer #changeSettingContainer #deleteContainer #deleteButtonContainer #slideRound label span {
  background-color: red;
  position: relative;
  cursor: pointer;
  display: flex;
  border-radius: 14px;
  height: 20px;
  width: 44px;
  transition: all 0.4s ease-in;
  margin-bottom: 2%;
}
#settingsContainer #changeSettingContainer #deleteContainer #deleteButtonContainer #slideRound label span::before {
  background-color: #fff;
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  left: 2px;
  top: 2px;
  transition: all 0.4s ease-in;
}
#settingsContainer #changeSettingContainer #deleteContainer #deleteButtonContainer #slideRound label span::after {
  content: "";
  display: block;
  position: absolute;
}

#newProjectContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #EBEAF3;
}
#newProjectContainer #formProjectContainer {
  display: flex;
  width: 100vw;
  height: 80%;
  justify-content: center;
  align-items: center;
}
#newProjectContainer #formProjectContainer #formProjectCard {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 95%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0 rgba(46, 45, 53, 0.3);
}
#newProjectContainer #formProjectContainer #formProjectCard h4 {
  width: 20%;
  margin-left: 2%;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #050505;
  font-weight: 400;
  border-bottom: 1px solid #EBEAF3;
  padding-bottom: 10px;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form {
  width: 95%;
  height: 95%;
  display: flex;
  flex-wrap: wrap;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  height: 90%;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul:first-child {
  border-right: 1px solid #EBEAF3;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #rightNewProject {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #rightNewProject label {
  display: flex;
  flex-direction: row;
  margin: 5% 0 2% 0;
  font-size: 0.8em;
  color: #2e2d35;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #rightNewProject .labelInput {
  padding: 10px 5px 10px 10px;
  border-radius: 60px;
  border: 1px solid #EBEAF3;
  outline: none;
  margin: 0;
  color: #777;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #rightNewProject .projectHide {
  display: none;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #rightNewProject .react-tagsinput {
  border: 1px solid #EBEAF3;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #rightNewProject .react-tagsinput .react-tagsinput-tag {
  font-size: 0.8em;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #rightNewProject .react-tagsinput:focus {
  border: 1px solid #0092ff;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #rightNewProject .react-tagsinput:hover {
  border: 1px solid #0092ff;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #rightNewProject .inputProject {
  padding: 10px 5px 10px 10px;
  border-radius: 60px;
  border: 1px solid #EBEAF3;
  outline: none;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #rightNewProject .inputProject:focus {
  border: 1px solid #0092ff;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #rightNewProject .inputProject:hover {
  border: 1px solid #0092ff;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #leftNewProject {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #leftNewProject label {
  display: flex;
  flex-direction: row;
  margin: 5% 0 2% 0;
  font-size: 0.8em;
  color: #2e2d35;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #leftNewProject .react-tagsinput {
  border: 1px solid #EBEAF3;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #leftNewProject .react-tagsinput .react-tagsinput-tag {
  font-size: 0.8em;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #leftNewProject .react-tagsinput:focus {
  border: 1px solid #0092ff;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #leftNewProject .react-tagsinput:hover {
  border: 1px solid #0092ff;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #leftNewProject .inputProject {
  padding: 10px 5px 10px 10px;
  border-radius: 60px;
  border: 1px solid #EBEAF3;
  outline: none;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #leftNewProject .inputProject:focus {
  border: 1px solid #0092ff;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formProjectColumn ul #leftNewProject .inputProject:hover {
  border: 1px solid #0092ff;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10%;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formButtonContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  border: none;
  border-radius: 60px;
  background-color: #205082;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
}
#newProjectContainer #formProjectContainer #formProjectCard #formProject form #formButtonContainer button:hover {
  background-color: #2a69ab;
}

header {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
}
header .loader {
  top: 50%;
  left: 50%;
  position: absolute;
}
header .fadeContainer {
  display: block;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
}
header .fadeContainer #topNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 75px;
}
header .fadeContainer #topNav #topNavWrapper {
  display: flex;
  width: 98%;
  height: 100%;
  align-items: center;
}
header .fadeContainer #topNav #topNavWrapper #logoTopNav {
  display: block;
  width: 2.5%;
}
header .fadeContainer #topNav #topNavWrapper #logoTopNav img {
  display: block;
  width: 100%;
}
header .fadeContainer #topNav #topNavWrapper #linkWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  align-items: center;
  margin-left: 2%;
}
header .fadeContainer #topNav #topNavWrapper #linkWrapper a {
  font-size: 1.2em;
  font-weight: 600;
}
header .fadeContainer #topNav #topNavWrapper #linkWrapper a:last-child {
  margin-left: 30%;
}
header .fadeContainer #bottomButton {
  display: flex;
  flex-direction: row;
  width: 95vw;
  position: absolute;
  bottom: 0;
  left: 2.5vw;
  margin-bottom: 2em;
  flex-wrap: nowrap;
}
header .fadeContainer #bottomButton .divider {
  display: flex;
  flex-direction: row;
  width: 50%;
  position: relative;
}
header .fadeContainer #bottomButton .divider:last-child {
  flex-direction: row-reverse;
}
header .fadeContainer #bottomButton .divider .checkIconSwitch {
  margin: 4px;
}
header .fadeContainer #bottomButton .divider #colorPicker {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border: none;
  padding: 5px 10px;
  border-radius: 60px;
  cursor: pointer;
}
header .fadeContainer #bottomButton .divider #colorPicker span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-left: 0.5em;
}
header .fadeContainer #bottomButton .divider .colorList {
  width: 7%;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  bottom: 3vh;
}
header .fadeContainer #bottomButton .divider .colorList .buttonLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 30%;
  width: 100%;
}
header .fadeContainer #bottomButton .divider .colorList .buttonLine button {
  cursor: pointer;
  width: 100%;
  padding: 5px 10px;
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border: none;
}
header .fadeContainer #bottomButton .divider .colorList .buttonLine button span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 20%;
}

/*# sourceMappingURL=App.css.map */
